nav{
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-wrap:wrap-reverse;
    margin-top: 10px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: .5em 1em;
}

nav > a:hover {
    background-color: rgb(0, 0, 0, .20);
    transition: background-color 0.5s;
}