table{
 text-align: left;

}

label, input, select, button {
    display: block;
    margin: 10px 0;
}

label {
    font-weight: bold;
    font-size: 13px;
}

input {
    margin-bottom: 8px;
}

input, select {
    padding: 5px;
    width: 200px;
    box-sizing: border-box;
}

h2 {
    margin-top: 20px;
    color: gray;
    margin: 0px 0px 0px 0px;
}

#update{
    float: right;
}

#sample {
    border: solid 1px black;
    padding: 10px;  
    margin-top: 20px;
}