/* You can add global styles to this file, and also import other style files */

/* However, due to to the component structrue, not all styles will 
   cascade down to every component. You may need to add styles to individual 
   component css files for them to take effect. */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 12px;  

}

h1 {
    margin: 0px 0px 12px 0px;
    font-size: 28px;
    color: lightcoral;
}