article{
    width: 300px;   
    background-color: lightblue;
    margin: 10px;
    padding: .25em 0em 1em 0em;
    border-radius: 10px;
    display:inline-block;
    margin: 0px 8px 8px 0px;
    text-align: center;}

article > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}